<section class="uni-field">
  <input type="checkbox" id="{{name}}">
  <label for="{{name}}">{{title}} University</label>
  <label for="bagrut-{{name}}">Required Bagrut Grade:</label>
  <input type="text" id="bagrut-{{name}}" name="grade_bagrut">
  <label for="psyc-{{name}}">Required Psychometric Grade:</label>
  <input type="text" id="psyc-{{name}}" name="grade_psychometric">
  <label for="tawjihi-{{name}}">Required Tawjihi Grade:</label>
  <input type="text" id="psyc-{{name}}" name="grade_tawjihi">
</section>
