<section class="uni-field">
  <input class="box" type="checkbox" id="{{name}}">
  <label class="university" for="{{name}}">{{title}} University</label>
  <label class="grade-title" for="bagrut-{{name}}">Required Bagrut/Tawjihi Grade:</label>
  <input class="grade-input" type="text" id="bagrut-{{name}}" name="grade_bagrut">
  <label class="grade-title" for="psyc-{{name}}">Required Psychometric Grade:</label>
  <input class="grade-input" type="text" id="psyc-{{name}}" name="grade_psychometric">
</section>
